@model IEnumerable<Service.Model.MachinePartModels.MachinePartListAll>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4 col-md-offset-5">
        <h2>Parts List</h2>
    </div>
</div>

<p>
    <button>@Html.ActionLink("Add New Part", "Create")</button>
</p>
<table class="table table-bordered table-striped">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.PartNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.PartNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            <button>@Html.ActionLink("Edit", "Edit", new { id = item.MachinePartId }) </button>
            <button>@Html.ActionLink("Details", "Details", new { id = item.MachinePartId }) </button>

        </td>
    </tr>
}

</table>
