@model Service.Model.ServiceFormModels.ServiceFormDisplayDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    
        <button>@Html.ActionLink("Edit", "Edit", new { id = Model.FormId })</button>
    

    <hr />
    <div class="container">
        <div class="row">
            <div class="center col-md-4">
                <h2>@Html.DisplayFor(model => model.CustomerId)</h2>
            </div>
        </div>

        <div class="row">
            <div class="center col-md-3">
                <strong>@Html.DisplayNameFor(model => model.StartTime)</strong>: @Html.DisplayFor(model => model.StartTime)
            </div>

            <div class="col-md-3">
                <strong>@Html.DisplayNameFor(model => model.FinishTime)</strong>: @Html.DisplayFor(model => model.FinishTime)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="center col-md-3">
                <strong>@Html.DisplayNameFor(model => model.MeterReadOne)</strong>: @Html.DisplayFor(model => model.MeterReadOne)
            </div>
            <div class="col-md-3">
                <strong>@Html.DisplayNameFor(model => model.MeterReadTwo)</strong>: @Html.DisplayFor(model => model.MeterReadTwo)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="center col-md-4">
                <strong> @Html.DisplayNameFor(model => model.Completed)</strong> : @Html.DisplayFor(model => model.Completed)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="center col-md-4">
                <strong> @Html.DisplayNameFor(model => model.CostDue)</strong> : $@Html.DisplayFor(model => model.CostDue)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="center col-md-6">
                <strong> @Html.DisplayNameFor(model => model.UserId)</strong> : $@Html.DisplayFor(model => model.UserId)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="center col-md-4">
                <strong> @Html.DisplayNameFor(model => model.MachineId)</strong> : @Html.DisplayFor(model => model.MachineId)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="center col-md-4">
                <strong> @Html.DisplayNameFor(model => model.MachinePartId)</strong> : @Html.DisplayFor(model => model.MachinePartId)
            </div>
        </div>

    </div>





    <br />
    <br />
    <br />
    <br />

    



    <p>
        <button>
            @Html.ActionLink("Return to main", "Index", "Home")
        </button>
        <button>
            @Html.ActionLink("Return to Service Form List", "Index")
        </button>
    </p>
</div>
