@model Service.Model.ServiceFormModels.ServiceFormDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ServiceFormDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FormId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeterReadOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeterReadOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeterReadTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeterReadTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachineId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MachinePartId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachinePartId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
